<li>
    {# {% set filePath = '/images/icons/' ~ foodName | lower | replace(" ", "_") ~ '.svg' %}
    {{ filePath | svgContents }} #}
    <img src="{{ '/images/icons/' ~ foodName | lower | replace(" ", "_") ~ '.svg' }}" alt="{{ foodName }}">
    {{ foodName }}
</li>