.dgwltd-masthead {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        width: 4.4rem;
        height: 4.4rem;
        fill: var(--text-color);
        margin-right: 2ch;
    }
    .main-navigation {
        //CSS grid 6 items 
        @include mq($until: md) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.5ch;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 3rem;
                min-height: 3rem;
            }
        }
    }
}