.block {
    width:100%;
    padding: 4rem 2rem 2rem;
    overflow: hidden;
    position: relative;
    
    @media #{$large-up} {
        display: flex;
        align-items: center;
    }

    .block__wrapper {
        width:80%;
        margin:0 auto;
        z-index:3;
        text-align: center;
    }

    .inner {
        width: inherit;
    }

    .block__heading:first-of-type {margin-top:0;}

    .block__background {
        width:100%;
        height: 100%;
        img {
            object-fit: cover;
            width:100%;
            height: 100%;
            margin:0;
        }
    }

}


//Hero block - macros/hero.njk
.block--media {
    padding: 4rem 2rem 2rem;
    background-color: var(--masthead);
    color:white;
    z-index:1;
    height:80vh;

    //Block reset
    display: block;
    padding:0;


    .block__wrapper {
        text-align: center;
        display: flex;
        align-items: center;
        position: relative;
        z-index:3;
        width:100%;
        height:100%;
    }

    .block__background {
        position: absolute;
    }

    &:before {
        content:"";
        background-color: var(--masthead);
        opacity: 0.8;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index:3;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }  
    .block__heading {
        color:inherit;
        font-size: 2.4rem;
        letter-spacing: 1px;
        margin:0 auto 1rem;
        @media #{$large-up} {
            font-size: 4rem;
            max-width:80%;
            margin:0 auto 1rem;
        }
        
    }
    .block__content {
        max-width:var(--container);
        margin:0 auto;
    }
}

//Text block, left, right, center alignment - macros/text.njk
.block--text {
    padding: 0;

    @media #{$large-up} {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > * {
            flex: 1;
            min-height:inherit;
        }
    }
    .block__text {}
    .block__color, .block__image {}
    .block__image {
        position: relative;
        .block__background {
            position: absolute;
        }
    }

    &.right {
        .block__text {order:2;}
        .block__color {order:1;}
    }

    &.center {
        text-align: center;   
        .block__text .inner {
            max-width: var(--container);
            margin:0 auto;
            padding-top:4rem;
            padding-bottom:4rem;
        }
    }
}

//Callout block - macros/float.njk
.block--float {
    padding:0;
    .inner {
        margin:1rem;
        width: calc(100% - 2rem);
        @media #{$large-up} {
            margin:2rem;
            width: calc(100% - 4rem);
        }
        background-color: var(--background);
    }
}

//CTA - macros/cta.njk
.block--cta {
    padding:0;
    min-height: auto;
    text-align: center;
    .inner {width:inherit;}
    .block__cta {
        display: block;
        max-width: var(--container);
        margin:0 auto;
        border-radius: 0.6rem;
    }
}

//Map - macros/map.njk
.block--map {
    padding:0;
    #map {
        width:100%;
        height:50rem;
        img {margin-top:0;}
    }
}

//Image block - macros/image.njk
.block--image {
    //Override flex
    display: block;
    padding:0;
    position: relative;
    //Set the aspect ratio
    .frame {
        --n: 9;
        --d: 16;
        @media #{$large-up} {
            --n: 2;
            --d: 10;
        }
    }
}