[type='text'], [type='email'], textarea, select {
    border:2px solid #000;
    font-size:1.8rem;
    width: 100%;
    font-size: inherit;
    padding:1rem;
}

.button, 
[type='submit'] {
    font-size:1.8rem;
    font-weight: bold;
    cursor: pointer;
    padding:1rem 2rem;
    background-color:var(--button-background);
    border:2px solid var(--button-background);
    color:white;
    &:hover {
        /* Change background/text color */ 
        background-color:var(--button-background-hover);
        border-color:var(--button-background-hover);
        color:white;
    }
    &:active {
        /* Change background/text color a bit more for active states*/ 
        background-color:var(--highlight-dark);
        border-color:var(--highlight-dark);
        color:white;
    }
    &:focus {
        /* Adds a white border around the button, along with a blue glow. The white and blue have a color contrast ratio of at least 3:1, which means this will work against any background color. */
        box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px var(--highlight);

        /* NOTE: box-shadow is invisible in Windows high-contrast mode, so we need to add a transparent outline, which actually does show up in high-contrast mode. */
        outline: 2px dotted transparent;
        outline-offset: 2px;
    }
}

a.button, 
a.button:link {
    text-decoration: none;
    color:white;
    &:hover, &:focus {
        text-decoration: none;
        color:white;
    }
}

::placeholder { /* Firefox 19+ */
    color: black;
}

.error {
    border-color: red;
}
  
.error-message {
    color: red;
    font-style: italic;
    font-size:1.4rem;
}

.input-group {
    
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;

    .form-control {flex: 1;}

    &.contact-form {
        flex-direction: column;
        [type='text'], [type='email'], textarea, select {
            border-color: black;
            margin-top:0.4rem;
        }
        [type='submit'] {
            margin:0;
            background-color: black;
            color:white;
            padding-left:2rem;
            padding-right:2rem;
            &:hover, &:focus {
                background-color:#333;
                color:white;
            }
        }
    }
}
