
.seasons {
    margin:0 auto;
    max-width: 100%;
    padding:0 2rem;
}

.seasons h1 span {color:var(--highlight);}

// ● ○ ◌
.nav-months {
    margin:2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media #{$large-up} {
        grid-template-columns: repeat(12, 1fr);
    }
}

[data-month] {
    display: flex;
    align-content: center;
    line-height: 3rem;
    margin:0 1rem;
    font-size: 1.6rem;
    font-weight: 900;

    &.selected {
        color:green;
    }

    &:before {
        content: "○";
        display: inline-block;
        margin:0 0.5rem 0 0;
        font-size: 1.4rem;
    }

    &:hover {
        cursor:pointer;
        &:before {
            content: "●"; 
        }
    }
}

//Hide the seasons
.js .month.hide {display:none;}

//Months
ul.months {
    margin:0 0 4rem;
    padding:0;
    list-style-type:none;
    display:grid;
    gap:2rem;
    grid-template-columns: 1fr 1fr;
    @media #{$large-up} {
        grid-template-columns: 1fr 1fr 1fr;
    }
    li {
        position: relative;
        padding:0.5rem;
        padding-left:4.2rem;
        border-radius:1rem;
        background-color:hsl(162, 10%, 94%);
        font-weight:900;
        display:flex;
        align-items:center;
        font-size:1.5rem;
        
        @media #{$large-up} {
            font-size:2.7rem;
            padding-left:7rem;
        }
    }
    .roundel {
        padding:0;
        margin:0 1rem 0 0;
        border-radius: 50%;
        background-color:var(--food);
        box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
        border:1px solid var(--food-border);
        width:4rem;
        height:4rem;
        @media #{$large-up} {
            width:6rem;
            height:6rem;
        }
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position:absolute;
        top:-0.5rem;
        left:-0.5rem;
    }
    .icon {
        font-size:3rem;
        line-height:1;
        width:3rem;
        height:3rem;
        display:inline-block;
    }
}