.svg-fruit--apple {
	background: url("svg/sprite.css.svg") 0 0 no-repeat;
}

.svg-fruit--apple-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--apricot {
	background: url("svg/sprite.css.svg") 10% 0 no-repeat;
}

.svg-fruit--apricot-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--banana {
	background: url("svg/sprite.css.svg") 0 11.11111111111111% no-repeat;
}

.svg-fruit--banana-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--bilberries {
	background: url("svg/sprite.css.svg") 10% 11.11111111111111% no-repeat;
}

.svg-fruit--bilberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--blackberry {
	background: url("svg/sprite.css.svg") 20% 0 no-repeat;
}

.svg-fruit--blackberry-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--blackcurrants {
	background: url("svg/sprite.css.svg") 20% 11.11111111111111% no-repeat;
}

.svg-fruit--blackcurrants-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--bramley_apple {
	background: url("svg/sprite.css.svg") 0 22.22222222222222% no-repeat;
}

.svg-fruit--bramley_apple-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--cherry {
	background: url("svg/sprite.css.svg") 10% 22.22222222222222% no-repeat;
}

.svg-fruit--cherry-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--clementine {
	background: url("svg/sprite.css.svg") 20% 22.22222222222222% no-repeat;
}

.svg-fruit--clementine-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--crab_apple {
	background: url("svg/sprite.css.svg") 30% 0 no-repeat;
}

.svg-fruit--crab_apple-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--cranberry {
	background: url("svg/sprite.css.svg") 30% 11.11111111111111% no-repeat;
}

.svg-fruit--cranberry-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--damson {
	background: url("svg/sprite.css.svg") 30% 22.22222222222222% no-repeat;
}

.svg-fruit--damson-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--date {
	background: url("svg/sprite.css.svg") 0 33.333333333333336% no-repeat;
}

.svg-fruit--date-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--elderberries {
	background: url("svg/sprite.css.svg") 10% 33.333333333333336% no-repeat;
}

.svg-fruit--elderberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--fig {
	background: url("svg/sprite.css.svg") 20% 33.333333333333336% no-repeat;
}

.svg-fruit--fig-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--gooseberry {
	background: url("svg/sprite.css.svg") 30% 33.333333333333336% no-repeat;
}

.svg-fruit--gooseberry-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--grapefruit {
	background: url("svg/sprite.css.svg") 40% 0 no-repeat;
}

.svg-fruit--grapefruit-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--greengages {
	background: url("svg/sprite.css.svg") 40% 11.11111111111111% no-repeat;
}

.svg-fruit--greengages-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--kiwi_fruit {
	background: url("svg/sprite.css.svg") 40% 22.22222222222222% no-repeat;
}

.svg-fruit--kiwi_fruit-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--lemon {
	background: url("svg/sprite.css.svg") 40% 33.333333333333336% no-repeat;
}

.svg-fruit--lemon-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--nectarine {
	background: url("svg/sprite.css.svg") 0 44.44444444444444% no-repeat;
}

.svg-fruit--nectarine-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--orange {
	background: url("svg/sprite.css.svg") 10% 44.44444444444444% no-repeat;
}

.svg-fruit--orange-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--peach {
	background: url("svg/sprite.css.svg") 20% 44.44444444444444% no-repeat;
}

.svg-fruit--peach-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--pear {
	background: url("svg/sprite.css.svg") 30% 44.44444444444444% no-repeat;
}

.svg-fruit--pear-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--plum {
	background: url("svg/sprite.css.svg") 40% 44.44444444444444% no-repeat;
}

.svg-fruit--plum-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--pomegranate {
	background: url("svg/sprite.css.svg") 50% 0 no-repeat;
}

.svg-fruit--pomegranate-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--quince {
	background: url("svg/sprite.css.svg") 50% 11.11111111111111% no-repeat;
}

.svg-fruit--quince-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--raspberry {
	background: url("svg/sprite.css.svg") 50% 22.22222222222222% no-repeat;
}

.svg-fruit--raspberry-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--redcurrant {
	background: url("svg/sprite.css.svg") 50% 33.333333333333336% no-repeat;
}

.svg-fruit--redcurrant-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--rhubarb {
	background: url("svg/sprite.css.svg") 50% 44.44444444444444% no-repeat;
}

.svg-fruit--rhubarb-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--sloes {
	background: url("svg/sprite.css.svg") 0 55.55555555555556% no-repeat;
}

.svg-fruit--sloes-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--strawberry {
	background: url("svg/sprite.css.svg") 10% 55.55555555555556% no-repeat;
}

.svg-fruit--strawberry-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--tomato {
	background: url("svg/sprite.css.svg") 20% 55.55555555555556% no-repeat;
}

.svg-fruit--tomato-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--watermelon {
	background: url("svg/sprite.css.svg") 30% 55.55555555555556% no-repeat;
}

.svg-fruit--watermelon-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--basil {
	background: url("svg/sprite.css.svg") 40% 55.55555555555556% no-repeat;
}

.svg-herbs--basil-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--chervil {
	background: url("svg/sprite.css.svg") 50% 55.55555555555556% no-repeat;
}

.svg-herbs--chervil-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--chives {
	background: url("svg/sprite.css.svg") 60% 0 no-repeat;
}

.svg-herbs--chives-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--coriander {
	background: url("svg/sprite.css.svg") 60% 11.11111111111111% no-repeat;
}

.svg-herbs--coriander-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--dill {
	background: url("svg/sprite.css.svg") 60% 22.22222222222222% no-repeat;
}

.svg-herbs--dill-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--elderflowers {
	background: url("svg/sprite.css.svg") 60% 33.333333333333336% no-repeat;
}

.svg-herbs--elderflowers-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--mint {
	background: url("svg/sprite.css.svg") 60% 44.44444444444444% no-repeat;
}

.svg-herbs--mint-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--oregano {
	background: url("svg/sprite.css.svg") 60% 55.55555555555556% no-repeat;
}

.svg-herbs--oregano-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--parsley {
	background: url("svg/sprite.css.svg") 0 66.66666666666667% no-repeat;
}

.svg-herbs--parsley-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--rosemary {
	background: url("svg/sprite.css.svg") 10% 66.66666666666667% no-repeat;
}

.svg-herbs--rosemary-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--sage {
	background: url("svg/sprite.css.svg") 20% 66.66666666666667% no-repeat;
}

.svg-herbs--sage-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--sorrel {
	background: url("svg/sprite.css.svg") 30% 66.66666666666667% no-repeat;
}

.svg-herbs--sorrel-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--tarragon {
	background: url("svg/sprite.css.svg") 40% 66.66666666666667% no-repeat;
}

.svg-herbs--tarragon-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--thyme {
	background: url("svg/sprite.css.svg") 50% 66.66666666666667% no-repeat;
}

.svg-herbs--thyme-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--wild_nettles {
	background: url("svg/sprite.css.svg") 60% 66.66666666666667% no-repeat;
}

.svg-herbs--wild_nettles-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--asparagus {
	background: url("svg/sprite.css.svg") 70% 0 no-repeat;
}

.svg-vegetables--asparagus-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--aubergine {
	background: url("svg/sprite.css.svg") 70% 11.11111111111111% no-repeat;
}

.svg-vegetables--aubergine-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--beetroot {
	background: url("svg/sprite.css.svg") 70% 22.22222222222222% no-repeat;
}

.svg-vegetables--beetroot-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--black_truffles {
	background: url("svg/sprite.css.svg") 70% 33.333333333333336% no-repeat;
}

.svg-vegetables--black_truffles-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--broad_beans {
	background: url("svg/sprite.css.svg") 70% 44.44444444444444% no-repeat;
}

.svg-vegetables--broad_beans-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--broccoli {
	background: url("svg/sprite.css.svg") 70% 55.55555555555556% no-repeat;
}

.svg-vegetables--broccoli-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--brussels_sprouts {
	background: url("svg/sprite.css.svg") 70% 66.66666666666667% no-repeat;
}

.svg-vegetables--brussels_sprouts-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--butternut_squash {
	background: url("svg/sprite.css.svg") 0 77.77777777777777% no-repeat;
}

.svg-vegetables--butternut_squash-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--cabbage {
	background: url("svg/sprite.css.svg") 10% 77.77777777777777% no-repeat;
}

.svg-vegetables--cabbage-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--carrot {
	background: url("svg/sprite.css.svg") 20% 77.77777777777777% no-repeat;
}

.svg-vegetables--carrot-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--cauliflower {
	background: url("svg/sprite.css.svg") 30% 77.77777777777777% no-repeat;
}

.svg-vegetables--cauliflower-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--cavolo_nero {
	background: url("svg/sprite.css.svg") 40% 77.77777777777777% no-repeat;
}

.svg-vegetables--cavolo_nero-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--celeriac {
	background: url("svg/sprite.css.svg") 50% 77.77777777777777% no-repeat;
}

.svg-vegetables--celeriac-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--celery {
	background: url("svg/sprite.css.svg") 60% 77.77777777777777% no-repeat;
}

.svg-vegetables--celery-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--chicory {
	background: url("svg/sprite.css.svg") 70% 77.77777777777777% no-repeat;
}

.svg-vegetables--chicory-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--chillies {
	background: url("svg/sprite.css.svg") 80% 0 no-repeat;
}

.svg-vegetables--chillies-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--courgette {
	background: url("svg/sprite.css.svg") 80% 11.11111111111111% no-repeat;
}

.svg-vegetables--courgette-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--courgette_flower {
	background: url("svg/sprite.css.svg") 80% 22.22222222222222% no-repeat;
}

.svg-vegetables--courgette_flower-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--fennel_bulb {
	background: url("svg/sprite.css.svg") 80% 33.333333333333336% no-repeat;
}

.svg-vegetables--fennel_bulb-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--field_mushrooms {
	background: url("svg/sprite.css.svg") 80% 44.44444444444444% no-repeat;
}

.svg-vegetables--field_mushrooms-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--french_beans {
	background: url("svg/sprite.css.svg") 80% 55.55555555555556% no-repeat;
}

.svg-vegetables--french_beans-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--garlic {
	background: url("svg/sprite.css.svg") 80% 66.66666666666667% no-repeat;
}

.svg-vegetables--garlic-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--globe_artichoke {
	background: url("svg/sprite.css.svg") 80% 77.77777777777777% no-repeat;
}

.svg-vegetables--globe_artichoke-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--jerusalem_artichoke {
	background: url("svg/sprite.css.svg") 0 88.88888888888889% no-repeat;
}

.svg-vegetables--jerusalem_artichoke-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--kale {
	background: url("svg/sprite.css.svg") 10% 88.88888888888889% no-repeat;
}

.svg-vegetables--kale-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--kohlrabi {
	background: url("svg/sprite.css.svg") 20% 88.88888888888889% no-repeat;
}

.svg-vegetables--kohlrabi-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--leek {
	background: url("svg/sprite.css.svg") 30% 88.88888888888889% no-repeat;
}

.svg-vegetables--leek-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--lettuce {
	background: url("svg/sprite.css.svg") 40% 88.88888888888889% no-repeat;
}

.svg-vegetables--lettuce-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--mangetout {
	background: url("svg/sprite.css.svg") 50% 88.88888888888889% no-repeat;
}

.svg-vegetables--mangetout-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--marrow {
	background: url("svg/sprite.css.svg") 60% 88.88888888888889% no-repeat;
}

.svg-vegetables--marrow-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--new_potatoes {
	background: url("svg/sprite.css.svg") 70% 88.88888888888889% no-repeat;
}

.svg-vegetables--new_potatoes-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--onion {
	background: url("svg/sprite.css.svg") 80% 88.88888888888889% no-repeat;
}

.svg-vegetables--onion-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--pak_choi {
	background: url("svg/sprite.css.svg") 90% 0 no-repeat;
}

.svg-vegetables--pak_choi-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--parsnip {
	background: url("svg/sprite.css.svg") 90% 11.11111111111111% no-repeat;
}

.svg-vegetables--parsnip-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--peas {
	background: url("svg/sprite.css.svg") 90% 22.22222222222222% no-repeat;
}

.svg-vegetables--peas-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--pepper {
	background: url("svg/sprite.css.svg") 90% 33.333333333333336% no-repeat;
}

.svg-vegetables--pepper-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--potatoes {
	background: url("svg/sprite.css.svg") 90% 44.44444444444444% no-repeat;
}

.svg-vegetables--potatoes-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--pumpkin {
	background: url("svg/sprite.css.svg") 90% 55.55555555555556% no-repeat;
}

.svg-vegetables--pumpkin-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--purple_sprouting_broccoli {
	background: url("svg/sprite.css.svg") 90% 66.66666666666667% no-repeat;
}

.svg-vegetables--purple_sprouting_broccoli-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--radicchio {
	background: url("svg/sprite.css.svg") 90% 77.77777777777777% no-repeat;
}

.svg-vegetables--radicchio-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--radish {
	background: url("svg/sprite.css.svg") 90% 88.88888888888889% no-repeat;
}

.svg-vegetables--radish-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--rocket {
	background: url("svg/sprite.css.svg") 0 100% no-repeat;
}

.svg-vegetables--rocket-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--runner_bean {
	background: url("svg/sprite.css.svg") 10% 100% no-repeat;
}

.svg-vegetables--runner_bean-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--salsify {
	background: url("svg/sprite.css.svg") 20% 100% no-repeat;
}

.svg-vegetables--salsify-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--samphire {
	background: url("svg/sprite.css.svg") 30% 100% no-repeat;
}

.svg-vegetables--samphire-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--scallions {
	background: url("svg/sprite.css.svg") 40% 100% no-repeat;
}

.svg-vegetables--scallions-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--shallots {
	background: url("svg/sprite.css.svg") 50% 100% no-repeat;
}

.svg-vegetables--shallots-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--spinach {
	background: url("svg/sprite.css.svg") 60% 100% no-repeat;
}

.svg-vegetables--spinach-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--spring_greens {
	background: url("svg/sprite.css.svg") 70% 100% no-repeat;
}

.svg-vegetables--spring_greens-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--spring_onion {
	background: url("svg/sprite.css.svg") 80% 100% no-repeat;
}

.svg-vegetables--spring_onion-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--swede {
	background: url("svg/sprite.css.svg") 90% 100% no-repeat;
}

.svg-vegetables--swede-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--sweet_potato {
	background: url("svg/sprite.css.svg") 100% 0 no-repeat;
}

.svg-vegetables--sweet_potato-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--sweetcorn {
	background: url("svg/sprite.css.svg") 100% 11.11111111111111% no-repeat;
}

.svg-vegetables--sweetcorn-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--swiss_chard {
	background: url("svg/sprite.css.svg") 100% 22.22222222222222% no-repeat;
}

.svg-vegetables--swiss_chard-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--turnip {
	background: url("svg/sprite.css.svg") 100% 33.333333333333336% no-repeat;
}

.svg-vegetables--turnip-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--watercress {
	background: url("svg/sprite.css.svg") 100% 44.44444444444444% no-repeat;
}

.svg-vegetables--watercress-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--white_truffles {
	background: url("svg/sprite.css.svg") 100% 55.55555555555556% no-repeat;
}

.svg-vegetables--white_truffles-dims {
	width: 30px;
	height: 30px;
}

