%svg-common {
	background: url("svg/sprite.css.svg") no-repeat;
}

.svg-fruit--apples {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-fruit--apples-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--bilberries {
	@extend %svg-common;
	background-position: 11.11111111111111% 0;
}

.svg-fruit--bilberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--blackberries {
	@extend %svg-common;
	background-position: 0 11.11111111111111%;
}

.svg-fruit--blackberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--blackcurrants {
	@extend %svg-common;
	background-position: 11.11111111111111% 11.11111111111111%;
}

.svg-fruit--blackcurrants-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--bramley_apple {
	@extend %svg-common;
	background-position: 22.22222222222222% 0;
}

.svg-fruit--bramley_apple-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--cherries {
	@extend %svg-common;
	background-position: 22.22222222222222% 11.11111111111111%;
}

.svg-fruit--cherries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--crab_apple {
	@extend %svg-common;
	background-position: 0 22.22222222222222%;
}

.svg-fruit--crab_apple-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--cranberries {
	@extend %svg-common;
	background-position: 11.11111111111111% 22.22222222222222%;
}

.svg-fruit--cranberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--damsons {
	@extend %svg-common;
	background-position: 22.22222222222222% 22.22222222222222%;
}

.svg-fruit--damsons-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--elderberries {
	@extend %svg-common;
	background-position: 33.333333333333336% 0;
}

.svg-fruit--elderberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--gooseberries {
	@extend %svg-common;
	background-position: 33.333333333333336% 11.11111111111111%;
}

.svg-fruit--gooseberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--greengages {
	@extend %svg-common;
	background-position: 33.333333333333336% 22.22222222222222%;
}

.svg-fruit--greengages-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--pears {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

.svg-fruit--pears-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--plums {
	@extend %svg-common;
	background-position: 11.11111111111111% 33.333333333333336%;
}

.svg-fruit--plums-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--quince {
	@extend %svg-common;
	background-position: 22.22222222222222% 33.333333333333336%;
}

.svg-fruit--quince-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--raspberries {
	@extend %svg-common;
	background-position: 33.333333333333336% 33.333333333333336%;
}

.svg-fruit--raspberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--redcurrants {
	@extend %svg-common;
	background-position: 44.44444444444444% 0;
}

.svg-fruit--redcurrants-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--rhubarb {
	@extend %svg-common;
	background-position: 44.44444444444444% 11.11111111111111%;
}

.svg-fruit--rhubarb-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--sloes {
	@extend %svg-common;
	background-position: 44.44444444444444% 22.22222222222222%;
}

.svg-fruit--sloes-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--strawberries {
	@extend %svg-common;
	background-position: 44.44444444444444% 33.333333333333336%;
}

.svg-fruit--strawberries-dims {
	width: 30px;
	height: 30px;
}

.svg-fruit--tomatoes {
	@extend %svg-common;
	background-position: 0 44.44444444444444%;
}

.svg-fruit--tomatoes-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--basil {
	@extend %svg-common;
	background-position: 11.11111111111111% 44.44444444444444%;
}

.svg-herbs--basil-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--chervil {
	@extend %svg-common;
	background-position: 22.22222222222222% 44.44444444444444%;
}

.svg-herbs--chervil-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--chives {
	@extend %svg-common;
	background-position: 33.333333333333336% 44.44444444444444%;
}

.svg-herbs--chives-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--coriander {
	@extend %svg-common;
	background-position: 44.44444444444444% 44.44444444444444%;
}

.svg-herbs--coriander-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--dill {
	@extend %svg-common;
	background-position: 55.55555555555556% 0;
}

.svg-herbs--dill-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--elderflowers {
	@extend %svg-common;
	background-position: 55.55555555555556% 11.11111111111111%;
}

.svg-herbs--elderflowers-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--mint {
	@extend %svg-common;
	background-position: 55.55555555555556% 22.22222222222222%;
}

.svg-herbs--mint-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--oregano {
	@extend %svg-common;
	background-position: 55.55555555555556% 33.333333333333336%;
}

.svg-herbs--oregano-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--parsley {
	@extend %svg-common;
	background-position: 55.55555555555556% 44.44444444444444%;
}

.svg-herbs--parsley-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--rosemary {
	@extend %svg-common;
	background-position: 0 55.55555555555556%;
}

.svg-herbs--rosemary-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--sage {
	@extend %svg-common;
	background-position: 11.11111111111111% 55.55555555555556%;
}

.svg-herbs--sage-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--sorrel {
	@extend %svg-common;
	background-position: 22.22222222222222% 55.55555555555556%;
}

.svg-herbs--sorrel-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--tarragon {
	@extend %svg-common;
	background-position: 33.333333333333336% 55.55555555555556%;
}

.svg-herbs--tarragon-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--thyme {
	@extend %svg-common;
	background-position: 44.44444444444444% 55.55555555555556%;
}

.svg-herbs--thyme-dims {
	width: 30px;
	height: 30px;
}

.svg-herbs--wild_nettles {
	@extend %svg-common;
	background-position: 55.55555555555556% 55.55555555555556%;
}

.svg-herbs--wild_nettles-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--asparagus {
	@extend %svg-common;
	background-position: 66.66666666666667% 0;
}

.svg-vegetables--asparagus-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--aubergine {
	@extend %svg-common;
	background-position: 66.66666666666667% 11.11111111111111%;
}

.svg-vegetables--aubergine-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--beetroot {
	@extend %svg-common;
	background-position: 66.66666666666667% 22.22222222222222%;
}

.svg-vegetables--beetroot-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--broad_beans {
	@extend %svg-common;
	background-position: 66.66666666666667% 33.333333333333336%;
}

.svg-vegetables--broad_beans-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--broccoli {
	@extend %svg-common;
	background-position: 66.66666666666667% 44.44444444444444%;
}

.svg-vegetables--broccoli-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--brussels_sprouts {
	@extend %svg-common;
	background-position: 66.66666666666667% 55.55555555555556%;
}

.svg-vegetables--brussels_sprouts-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--butternut_squash {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

.svg-vegetables--butternut_squash-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--cabbage {
	@extend %svg-common;
	background-position: 11.11111111111111% 66.66666666666667%;
}

.svg-vegetables--cabbage-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--carrots {
	@extend %svg-common;
	background-position: 22.22222222222222% 66.66666666666667%;
}

.svg-vegetables--carrots-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--cauliflower {
	@extend %svg-common;
	background-position: 33.333333333333336% 66.66666666666667%;
}

.svg-vegetables--cauliflower-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--cavolo_nero {
	@extend %svg-common;
	background-position: 44.44444444444444% 66.66666666666667%;
}

.svg-vegetables--cavolo_nero-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--celeriac {
	@extend %svg-common;
	background-position: 55.55555555555556% 66.66666666666667%;
}

.svg-vegetables--celeriac-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--celery {
	@extend %svg-common;
	background-position: 66.66666666666667% 66.66666666666667%;
}

.svg-vegetables--celery-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--chicory {
	@extend %svg-common;
	background-position: 77.77777777777777% 0;
}

.svg-vegetables--chicory-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--chillies {
	@extend %svg-common;
	background-position: 77.77777777777777% 11.11111111111111%;
}

.svg-vegetables--chillies-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--courgette {
	@extend %svg-common;
	background-position: 77.77777777777777% 22.22222222222222%;
}

.svg-vegetables--courgette-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--courgette_flower {
	@extend %svg-common;
	background-position: 77.77777777777777% 33.333333333333336%;
}

.svg-vegetables--courgette_flower-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--fennel_bulb {
	@extend %svg-common;
	background-position: 77.77777777777777% 44.44444444444444%;
}

.svg-vegetables--fennel_bulb-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--french_beans {
	@extend %svg-common;
	background-position: 77.77777777777777% 55.55555555555556%;
}

.svg-vegetables--french_beans-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--garlic {
	@extend %svg-common;
	background-position: 77.77777777777777% 66.66666666666667%;
}

.svg-vegetables--garlic-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--globe_artichoke {
	@extend %svg-common;
	background-position: 0 77.77777777777777%;
}

.svg-vegetables--globe_artichoke-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--jerusalem_artichoke {
	@extend %svg-common;
	background-position: 11.11111111111111% 77.77777777777777%;
}

.svg-vegetables--jerusalem_artichoke-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--kale {
	@extend %svg-common;
	background-position: 22.22222222222222% 77.77777777777777%;
}

.svg-vegetables--kale-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--kohlrabi {
	@extend %svg-common;
	background-position: 33.333333333333336% 77.77777777777777%;
}

.svg-vegetables--kohlrabi-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--leeks {
	@extend %svg-common;
	background-position: 44.44444444444444% 77.77777777777777%;
}

.svg-vegetables--leeks-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--lettuce {
	@extend %svg-common;
	background-position: 55.55555555555556% 77.77777777777777%;
}

.svg-vegetables--lettuce-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--mangetout {
	@extend %svg-common;
	background-position: 66.66666666666667% 77.77777777777777%;
}

.svg-vegetables--mangetout-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--marrow {
	@extend %svg-common;
	background-position: 77.77777777777777% 77.77777777777777%;
}

.svg-vegetables--marrow-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--mushrooms {
	@extend %svg-common;
	background-position: 88.88888888888889% 0;
}

.svg-vegetables--mushrooms-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--new_potatoes {
	@extend %svg-common;
	background-position: 88.88888888888889% 11.11111111111111%;
}

.svg-vegetables--new_potatoes-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--onions {
	@extend %svg-common;
	background-position: 88.88888888888889% 22.22222222222222%;
}

.svg-vegetables--onions-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--pak_choi {
	@extend %svg-common;
	background-position: 88.88888888888889% 33.333333333333336%;
}

.svg-vegetables--pak_choi-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--parsnips {
	@extend %svg-common;
	background-position: 88.88888888888889% 44.44444444444444%;
}

.svg-vegetables--parsnips-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--peas {
	@extend %svg-common;
	background-position: 88.88888888888889% 55.55555555555556%;
}

.svg-vegetables--peas-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--peppers {
	@extend %svg-common;
	background-position: 88.88888888888889% 66.66666666666667%;
}

.svg-vegetables--peppers-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--potatoes {
	@extend %svg-common;
	background-position: 88.88888888888889% 77.77777777777777%;
}

.svg-vegetables--potatoes-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--pumpkin {
	@extend %svg-common;
	background-position: 0 88.88888888888889%;
}

.svg-vegetables--pumpkin-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--purple_sprouting_broccoli {
	@extend %svg-common;
	background-position: 11.11111111111111% 88.88888888888889%;
}

.svg-vegetables--purple_sprouting_broccoli-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--radicchio {
	@extend %svg-common;
	background-position: 22.22222222222222% 88.88888888888889%;
}

.svg-vegetables--radicchio-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--radishes {
	@extend %svg-common;
	background-position: 33.333333333333336% 88.88888888888889%;
}

.svg-vegetables--radishes-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--rocket {
	@extend %svg-common;
	background-position: 44.44444444444444% 88.88888888888889%;
}

.svg-vegetables--rocket-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--runner_beans {
	@extend %svg-common;
	background-position: 55.55555555555556% 88.88888888888889%;
}

.svg-vegetables--runner_beans-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--salsify {
	@extend %svg-common;
	background-position: 66.66666666666667% 88.88888888888889%;
}

.svg-vegetables--salsify-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--samphire {
	@extend %svg-common;
	background-position: 77.77777777777777% 88.88888888888889%;
}

.svg-vegetables--samphire-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--scallions {
	@extend %svg-common;
	background-position: 88.88888888888889% 88.88888888888889%;
}

.svg-vegetables--scallions-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--shallots {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-vegetables--shallots-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--spinach {
	@extend %svg-common;
	background-position: 100% 11.11111111111111%;
}

.svg-vegetables--spinach-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--spring_greens {
	@extend %svg-common;
	background-position: 100% 22.22222222222222%;
}

.svg-vegetables--spring_greens-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--spring_onions {
	@extend %svg-common;
	background-position: 100% 33.333333333333336%;
}

.svg-vegetables--spring_onions-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--swede {
	@extend %svg-common;
	background-position: 100% 44.44444444444444%;
}

.svg-vegetables--swede-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--sweetcorn {
	@extend %svg-common;
	background-position: 100% 55.55555555555556%;
}

.svg-vegetables--sweetcorn-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--swiss_chard {
	@extend %svg-common;
	background-position: 100% 66.66666666666667%;
}

.svg-vegetables--swiss_chard-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--turnips {
	@extend %svg-common;
	background-position: 100% 77.77777777777777%;
}

.svg-vegetables--turnips-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--watercress {
	@extend %svg-common;
	background-position: 100% 88.88888888888889%;
}

.svg-vegetables--watercress-dims {
	width: 30px;
	height: 30px;
}

.svg-vegetables--wild_mushrooms {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-vegetables--wild_mushrooms-dims {
	width: 30px;
	height: 30px;
}

