{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or metadata.title }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <style>{% include "css/main.css" %}</style>
    <script async defer data-domain="seasonal.today" src="https://plausible.io/js/plausible.js"></script>
    {% include "../partials/_meta.njk" %}
  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a class="skip-link" href="#content">Skip to content</a>
    <div class="dgwltd-wrapper">
    {% include "partials/header.njk" %}
    <main id="content" class="dgwltd-container">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.njk" %}
    </div>
    <script type="module" src="{{ "/" | url }}js/app.js"></script>
    {% include "partials/_sw.njk" %}
  </body>
</html>