//CSS Vars - usage var(--background)
:root {
	--hue: 209; 
	
    --background: white;
    --masthead: hsl(162, 12%, 94%);
    --footer: hsl(162, 30%, 98%);
	
    --border:#e5e7e9;
	
    --text: hsl(162, 2%, 0%);
    --heading: hsl(162, 20%, 0%);
	--meta: hsl(162, 10%, 53%);

    --highlight: hsl(162, 80%, 23%);
	--highlight-dark: hsl(162, 63%, 14%);
    --highlight-light: hsl(162, 30%, 92%);
    --hover: hsl(162, 34%, 30%);

    --food: hsl(162, 12%, 94%);
    --food-border: hsl(162, 12%, 84%);
	
    --button-background: hsl(162, 39%, 24%);
    --button-background-hover: hsl(162, 61%, 16%);
	--button-text-color: white;
	
    --spacer: 2rem;
    
    --container: 70ch;
}

//Global
html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: $default-line-height;
    @media #{$large-up} {
        font-size: $default-font-size;
    }
    font-weight: normal;
    background-color:var(--textbackground);
    color: var(--text);
    text-align:left;
}

@supports ( font-variation-settings: normal ) {

	body {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	}
}

%jwTitle,
.jwTitle {
  font-size: 3rem;
  line-height: 3.2rem;
  color:var(--text);
  margin: 4rem 0 2rem 0;
  @media #{$large-up} {
    font-size:4.8rem;
    line-height: 5rem;
  }
}

//Links
a, a:link {
 -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color:var(--highlight);
  text-decoration: underline;
  &:active {
      
  }
  &:hover, &:focus {
      color:var(--hover);
      text-decoration: none;
  }
}


//Typography
h1,h2,h3,h4,h5,h6{
  font-weight: $bold;
  line-height: 1.33;
  color:var(--heading);
  margin:calc(var(--spacer) * 2) 0 var(--spacer);
  letter-spacing: 0.1px;
}

.jw-content {
    h1, h2 {
        @extend .jwTitle; //48px
    }
    h3 {
        font-size: 2.8rem;
    }
    h4 {
        font-size: 2.4rem;
    }
    h5 {
       font-size: 2.1rem;
       font-weight: normal;
    }
    h6 {
       font-size: 1.8rem;
       font-weight: normal;
    }
    p {
        margin:0 0 var(--spacer);
    }
    em {font-style:italic;}
    strong {font-weight: 700;}
    ul {
        margin:0 0 calc(var(--spacer) * 2) calc(var(--spacer) * 2);
        list-style-type: disc;
    }
    ol {
        list-style-type: lower-alpha;
        margin:0 0 calc(var(--spacer) * 2) calc(var(--spacer) * 2);
        ol {
            margin-top:var(--spacer);
            list-style-type: lower-roman;
        }
    }
    img {
        margin-top:2rem;
    }
    code {
        font-family: monospace;
    }
}


//Siblings
// h3 ~ h4 {margin-top:calc((var(--spacer) / 2) * -1);}

/*Layout*/
.jw-wrapper {

}
@media only screen and (min-width: 64rem) {
    .jw-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
}

.jw-masthead {
    padding:0;
    background-color:var(--masthead);
    line-height: 1;
    .jw-masthead__container {
        padding:1rem;
        @media #{$large-up} {
            padding:2rem;
        }
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
}

//Sticky footer
.jw-container {
    flex:1;
}

//Nav
.jw-nav {}

//Logo
.jw-masthead__logo {
    svg {
        width:4.4rem;
        height:4.4rem;
    }
}

.jw-content {
    padding:0;
    margin:0;
}

.jw-content__inner {
    margin:0 auto 4rem;
    max-width: 70ch;
    padding:0 2rem;
    @media #{$large-up} {
        padding:0;
    }
}

//Links
.jw-content__links {
    p {margin:0 0 0.25rem;}
    [class^="fa"] {margin-right:1rem;}
}


//Footer
.jw-footer {
    margin-top: 4rem;
    padding:2rem;
    background-color: var(--footer);
    p {
        color:inherit;
        font-size:14px;
        text-align: center;
        > a {
            color:inherit;
            &:hover, &:focus {
                text-decoration: none;
                color: var(--highlight);
            }
        }
    }
}