
//Custom icons
li[class^="food-"] .icon {fill:currentColor;}

//Custom colours
.food-asparagus { color: #67A216; }
.food-aubergine { color: #311F2B; }
.food-beetroot { color: #621830; }
.food-broad_beans { color: #80AB34; }
.food-broccoli { color: #0F240F; }
.food-brussels_sprouts { color: #2F6316; }
.food-butternut_squash { color: #DF7504; }
.food-cabbage { color: #8EBB31; }
.food-carrot { color: #F87F37; }
.food-cauliflower { color: #739524; }
.food-cavolo_nero { color: #072302; }
.food-celeriac { color: #DDB66A; }
.food-celery { color: #4F9C05; }
.food-chicory { color: #ABB865; }
.food-chillies { color: #AE0000; }
.food-courgette { color: #000; }
.food-courgette_flower { color: #000; }
.food-fennel_bulb { color: #000; }
.food-field_mushrooms { color: #000; }
.food-french_beans { color: #000; }
.food-garlic { color: #000; }
.food-globe_artichoke { color: #000; }
.food-jerusalem_artichoke { color: #000; }
.food-kale { color: #000; }
.food-kohlrabi { color: #000; }
.food-lettuce { color: #000; }
.food-leek { color: #000; }
.food-mangetout { color: #000; }
.food-marrow { color: #000; }
.food-new_potatoes { color: #000; }
.food-onion { color: #000; }
.food-pak_choi { color: #000; }
.food-parsnip { color: #000; }
.food-peas { color: #000; }
.food-pepper { color: #000; }
.food-potatoes { color: #000; }
.food-pumpkin { color: #000; }
.food-purple_sprouting_broccoli { color: #000; }
.food-radicchio { color: #000; }
.food-radish { color: #000; }
.food-rocket { color: #000; }
.food-runner_bean { color: #000; }
.food-salsify { color: #000; }
.food-samphire { color: #000; }
.food-shallots { color: #000; }
.food-spinach { color: #000; }
.food-spring_onion { color: #000; }
.food-spring_greens { color: #000; }
.food-swede { color: #000; }
.food-sweet_potato { color: #000; }
.food-sweetcorn { color: #000; }
.food-swiss_chard { color: #000; }
.food-black_truffles { color: #000; }
.food-white_truffles { color: #000; }
.food-turnip { color: #000; }
.food-watercress { color: #000; }
.food-apple{ color: #000; }
.food-apricot{ color: #000; }
.food-banana{ color: #000; }
.food-bilberries{ color: #000; }
.food-blackberry{ color: #000; }
.food-blackcurrants{ color: #000; }
.food-bramley_apple{ color: #000; }
.food-cherry{ color: #000; }
.food-clementine{ color: #000; }
.food-crab_apple{ color: #000; }
.food-cranberry{ color: #000; }
.food-damson{ color: #000; }
.food-date{ color: #000; }
.food-elderberries{ color: #000; }
.food-fig{ color: #000; }
.food-gooseberry{ color: #000; }
.food-grapefruit{ color: #000; }
.food-greengages{ color: #000; }
.food-kiwi_fruit{ color: #000; }
.food-lemon{ color: #000; }
.food-nectarine{ color: #000; }
.food-orange{ color: #000; }
.food-peach{ color: #000; }
.food-pear{ color: #000; }
.food-plum{ color: #000; }
.food-pomegranate{ color: #000; }
.food-quince{ color: #000; }
.food-raspberry{ color: #000; }
.food-redcurrant{ color: #000; }
.food-rhubarb{ color: #000; }
.food-sloes{ color: #000; }
.food-strawberry{ color: #000; }
.food-tomato{ color: #000; }
.food-watermelon{ color: #000; }
.food-basil{ color: #000; }
.food-chives{ color: #000; }
.food-chervil{ color: #000; }
.food-coriander{ color: #000; }
.food-dill{ color: #000; }
.food-elderflowers{ color: #000; }
.food-mint{ color: #000; }
.food-oregano{ color: #000; }
.food-parsley{ color: #000; }
.food-rosemary{ color: #000; }
.food-sage{ color: #000; }
.food-sorrel{ color: #000; }
.food-tarragon{ color: #000; }
.food-thyme{ color: #000; }
.food-wild_nettles{ color: #000; }