<div id="cookieNotice" class="cookie-notice open" role="region">
    <div class="container">
        <p>Like most websites {{ siteTitle }} uses cookies to give you the best experience. <a href="{{ privacyUrl }}">Read our privacy policy</a>
        <button id="cookieButton" class="cookieButton close" type="button" aria-label="Accept cookies">Accept cookies</button>
        <a href="./cookies.html" class="cookieButton accept" type="button" aria-label="Change settings">Change settings</a>
        </p>
    </div>
</div>