<footer id="footer" class="jw-footer">
    {% from "macros/social.njk" import social %}
    {{ social('dogwonder', 'dogwonder@gmail.com', '07967835097') }}
    <p>© Copyright 2019 <br /> 
    <a href="./privacy.html" aria-label="Read this site's Privacy policy">Privacy policy</a> | <a href="./cookies.html" aria-label="Read this site's Cookie policy">Cookie policy</a>  | <a href="./terms.html" aria-label="Read this site's Terms of Service">Terms of Service</a>
    </p>
    <svg width="0" height="0">
    <radialGradient id="rg" r="150%" cx="30%" cy="107%">
      <stop stop-color="#fdf497" offset="0" />
      <stop stop-color="#fdf497" offset="0.05" />
      <stop stop-color="#fd5949" offset="0.45" />
      <stop stop-color="#d6249f" offset="0.6" />
      <stop stop-color="#285AEB" offset="0.9" />
    </radialGradient>
    </svg>
</footer>