<footer id="footer" class="jw-footer">
    <p>Copyright {{ creation_date | date("YYYY") }} | 
    <a href="./about.html" aria-label="Read about this project">About this project</a> | 
    <a href="./privacy.html" aria-label="Read this site's Privacy policy">Privacy policy</a> | <a href="./terms.html" aria-label="Read this site's Terms of Service">Terms of Service</a>
    </p>
</footer>