<script type='application/ld+json'>{"@context":"https://schema.org","@type":"WebSite","@id":"{{ siteUrl }}#website","url":"{{ siteUrl }}","name":"{{ companyName }}","logo":"{{ siteUrl }}/images/og/logo-160x60.png"}</script>