{% extends "layouts/base.njk" %}

{% block content %}

<h1>About Seasonal.Today</h1>

<p>As a nation we we trasport food from all around the world all year at huge environmental costs. We've all come to expect to be able to buy Asparagus at any point of the year, regardless of it's geo-location.</p>
<p>I wanted something simple that I could use when I was out shopping that I could check for UK seasonality. There are many brilliant resources out there that are more than good enough (see below), and indeed I used them to source the data for this project.</p>
<p>For my own needs I wanted something a little easier to scan through when shopping, which is why I built this.</p>
<p>The view defaults to the current month, and allows you to click other months to see what's in season then.</p>
<p>I tried to be thorough in my research, but if I've made any mistakes or have missed things please <a href="mailto:dogwonder@gmail.com">let me know</a>. </p>
<p>Note: Some produce like Onions and Potatoes are sometimes sourced from ambient/cold/controlled atmosphere storage out of season.</p>
<h3 id="sources">Sources</h3>
<ul>
	<li><a href="http://www.eattheseasons.co.uk/">Eat the Seasons</a></li>
	<li><a href="https://www.vegsoc.org/cookery-school/blog/seasonal-uk-grown-produce/">Seasonal UK grown produce</a></li>
	<li><a href="https://www.bbcgoodfood.com/seasonal-calendar/">BBC Good Food</a></li>
	<li><a href="https://www.lovebritishfood.co.uk/whats-in-season-when">Love British Food</a></li>
	<li><a href="https://www.bordbia.ie/whats-in-season/best-in-season/calendar/">Best in Season Calendar</a></li>
</ul>	

{% endblock %}