{% extends "layouts/base.njk" %}

{% block content %}

<h1>About Seasonal.Today</h1>

<p>I've been thinking a lot about food and how we trasport stuff from far flung places, at huge environmental costs. I've come to expect to be able to buy strawberries at any point of the year, very rarely checking the label to see where they are from. </p>
<p>I wanted something simple that I could use when I was out shopping for produce that I could check for UK seasonality. There are many brilliant resources out there that are more than good enough (see below), and indeed I used them to source the data for this project. </p>
<p>But for my own needs I didn't want a table or a list of items but something a little easier to scan through when shopping. </p>
<p>The view defaults to the current month, and allows you to click other months to see what's in season then, either for planning or just forout of interest. </p>
<p>I tried to be pretty thorough in my research, but if I've made any mistakes or have missed things please <a href="mailto:dogwonder@gmail.com">let me know</a>. </p>
<p>Note some things like Onions and Potatoes are sometimes sold out of ambient, cold stores and controlled atmosphere stores all year round, even though their growing season is in the Spring / Summer. </p>
<h3 id="sources">Sources</h3>
<ul>
	<li><a href="http://www.eattheseasons.co.uk/">Eat the Seasons</a></li>
	<li><a href="https://www.vegsoc.org/cookery-school/blog/seasonal-uk-grown-produce/">Seasonal UK grown produce</a></li>
	<li><a href="https://www.bbcgoodfood.com/seasonal-calendar/">BBC Good Food</a></li>
	<li><a href="http://www.lovebritishfood.co.uk/british-food-and-drinks/whats-in-season-when">Love British Food</a></li>
	<li><a href="https://www.bordbia.ie/lifestyle/information/fruit-vegetables/best-in-season-calendar/">Best in Season Calendar</a></li>
</ul>	

{% endblock %}