{% set body_class = "jw-seasonal" %}

{% extends "layout/_layout.njk" %}

{% set months = [
"january", 
"february", 
"march", 
"april", 
"may",
"june", 
"july", 
"august", 
"september", 
"october", 
"november", 
"december"
] %}

{% block content %}




<div class="seasons">
    <nav class="nav-months">
    {% for month in months %}
    <span data-month="{{ month }}">{{ month | capitalize | truncate(3, true, '') }}</span>
    {% endfor %}
    </nav>

    {% for thismonth in months %}
     <div class="month" data-season="{{ thismonth }}">
      <h1>What's in season in <span>{{ thismonth | capitalize }}</span></h1>
      <h2>Vegetables</h2>
    
      <ul class="months vegetables">  
      {% for vegetable in vegetables %}

      {% set vegetableDuring = vegetable.during %}
    
        {# {{ vegetables | length }} #}

        {% for month in vegetableDuring %}
            {% if month == thismonth %}    
                <li>
                <img class="icon" src="./images/icons/vegetables/{{ vegetable.name | lower |  replace(" ", "_") }}.svg" alt="{{ vegetable.name }}">
                {{ vegetable.name }}
                </li>
            {% endif %}
        {% endfor %}  
    
        {% endfor %}
      </ul>

      <h2>Fruit</h2>

      <ul class="months fruits">  
      {% for fruit in fruits %}

      {# {{ fruits | length }} #}

      {% set fruitDuring = fruit.during %}

        {% for month in fruitDuring %}
            {% if month == thismonth %}
                <li>
                <img class="icon" src="./images/icons/fruit/{{ fruit.name | lower |  replace(" ", "_") }}.svg" alt="{{ fruit.name }}">
                {{ fruit.name }}
                </li>
            {% endif %}
        {% endfor %}
    
      {% endfor %}
      </ul>


      <h2>Herbs</h2>

      <ul class="months herbs"> 

       {# {{ herbs.length }} #}
       {# {% if herbs.length === 0 %}asdasd{% endif %} #}
    
      {% for herb in herbs %} 

        {% set herbDuring = herb.during %}
        
        {% for month in herbDuring %}

            {% if month == thismonth %}
                <li>
                <img class="icon" src="./images/icons/herbs/{{ herb.name | lower |  replace(" ", "_") }}.svg" alt="{{ herb.name }}">
                {{ herb.name }}
                </li>
            {% endif %}

        {% endfor %}
    
      {% endfor %}
      </ul>



      </div>

      {% endfor %}

</div><!--.week-->

{% endblock %} 