{% set body_class = "jw-seasonal" %}

{% extends "layout/_layout.njk" %}

{% set months = [
"january", 
"february", 
"march", 
"april", 
"may",
"june", 
"july", 
"august", 
"september", 
"october", 
"november", 
"december"
] %}

{% set vegetables = [{
    "icon": "",
    "name": "Asparagus", 
    "during": [
        "may", 
        "june", 
        "july"
    ]
},
{
        "icon": "🍆",
        "name": "Aubergine", 
        "during": [
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october"
        ]
},
{
        "icon": "🌿",
        "name": "Basil", 
        "during": [
            "june", 
            "july", 
            "august"
        ]
},
{
        "icon": "",
        "name": "Beetroot", 
        "during": [
            "january", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "🥦",
        "name": "Broccoli", 
        "during": [
            "july", 
            "august", 
            "september", 
            "october"
        ]
},
{
        "icon": "",
        "name": "Brussels sprouts", 
        "during": [
            "january", 
            "february", 
            "march", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Cabbage", 
        "during": [
            "january", 
            "february", 
            "march", 
            "april", 
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "🥕",
        "name": "Carrot", 
        "during": [
            "may",
            "june", 
            "july", 
            "august", 
            "september"
        ]
},
{
        "icon": "",
        "name": "Cauliflower", 
        "during": [
            "january", 
            "february", 
            "march", 
            "april", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Cavolo nero", 
        "during": [
            "june", 
            "july", 
            "august", 
            "september", 
            "october"
        ]
},
{
        "icon": "",
        "name": "Celeriac", 
        "during": [
            "january", 
            "february", 
            "march", 
            "april", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Celery", 
        "during": [
            "january", 
            "february", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Chicory", 
        "during": [
            "january", 
            "february", 
            "march"
        ]
},
{
        "icon": "🥒",
        "name": "Courgette", 
        "during": [
            "june", 
            "july", 
            "august", 
            "september"
        ]
},
{
        "icon": "",
        "name": "Courgette flower", 
        "during": [
            "june", 
            "july", 
            "august"
        ]
},
{
        "icon": "",
        "name": "Fennel bulb", 
        "during": [
            "june", 
            "july", 
            "august", 
            "september"
        ]
},
{
        "icon": "",
        "name": "Garlic", 
        "during": [
            "june", 
            "july", 
            "august", 
            "september",
            "october"
        ]
},
{
        "icon": "",
        "name": "Globe artichoke", 
        "during": [
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november"
        ]
},
{
        "icon": "",
        "name": "Jerusalem artichoke", 
        "during": [
            "january", 
            "february", 
            "march", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "🥬",
        "name": "Kale", 
        "during": [
            "january", 
            "february", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Kohlrabi", 
        "during": [ 
            "july", 
            "august", 
            "september", 
            "october", 
            "november"
        ]
},
{
        "icon": "",
        "name": "Lambs lettuce", 
        "during": [
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november"
        ]
},
{
        "icon": "",
        "name": "Leek", 
        "during": [
            "january", 
            "february", 
            "march", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Lettuce", 
        "during": [
            "april", 
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Marrow", 
        "during": [
            "july", 
            "august", 
            "september"
        ]
},
{
        "icon": "🥔",
        "name": "New potatoes", 
        "during": [
            "april", 
            "may",
            "june", 
            "july"
        ]
},
{
        "icon": "",
        "name": "Pak choi", 
        "during": [
            "january", 
            "february", 
            "march", 
            "april", 
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Parsnip", 
        "during": [
            "january", 
            "february", 
            "march", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Peas", 
        "during": [
            "april", 
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november"
        ]
},
{
        "icon": "",
        "name": "Pepper", 
        "during": [
            "february", 
            "march", 
            "april", 
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october"
        ]
},
{
        "icon": "🥔",
        "name": "Potato", 
        "during": [
            "march", 
            "april", 
            "may",
            "june", 
            "july"
        ]
},
{
        "icon": "🎃",
        "name": "Pumpkin", 
        "during": [
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Purple sprouting broccoli", 
        "during": [
            "january", 
            "february", 
            "march", 
            "april"
        ]
},
{
        "icon": "",
        "name": "Radicchio", 
        "during": [
            "january", 
            "february", 
            "march", 
            "april", 
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Radish", 
        "during": [
            "april", 
            "may",
            "june", 
            "july", 
            "august", 
            "september", 
            "october"
        ]
},
{
        "icon": "",
        "name": "Runner bean", 
        "during": [
            "june", 
            "july", 
            "august", 
            "september", 
            "october", 
            "november"
        ]
},
{
        "icon": "",
        "name": "Salsify", 
        "during": [
            "january",  
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Samphire", 
        "during": [
            "july", 
            "august"
        ]
},
{
        "icon": "",
        "name": "Spinach", 
        "during": [ 
            "march",
            "april", 
            "may",
            "june",
            "july", 
            "august", 
            "september"
        ]
},
{
        "icon": "🥬",
        "name": "Spring greens", 
        "during": [
            "march", 
            "april", 
            "may",
            "june"
        ]
},
{
        "icon": "",
        "name": "Swede", 
        "during": [
            "january", 
            "february",
            "october",
            "november",
            "december"
        ]
},
{
        "icon": "🍠",
        "name": "Sweet potato", 
        "during": [
            "january", 
            "february", 
            "march", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "🌽",
        "name": "Sweetcorn", 
        "during": [
            "august", 
            "september"
        ]
},
{
        "icon": "",
        "name": "Swiss chard", 
        "during": [
            "july", 
            "august", 
            "september", 
            "october",
            "november"
        ]
},
{
        "icon": "",
        "name": "Turnip", 
        "during": [
            "january", 
            "february", 
            "october", 
            "november", 
            "december"
        ]
},
{
        "icon": "",
        "name": "Watercress", 
        "during": [
            "march",
            "april",
            "may",
            "june", 
            "july",
            "august", 
            "september"
        ]
}
] %}

{% set fruits = [{
"icon": "🍎",
"name": "Apple", 
"during": [
    "january", 
    "february", 
    "september", 
    "october", 
    "november", 
    "december"
]
},
{
    "icon": "",
    "name": "Apricot", 
    "during": [
        "april", 
        "may",
        "june", 
        "july", 
        "august", 
        "september"
    ]
},
{
    "icon": "🍌",
    "name": "Banana", 
    "during": [
        "january", 
        "february", 
        "march", 
        "april", 
        "may",
        "june", 
        "july", 
        "august", 
        "september", 
        "october", 
        "november", 
        "december"
    ]
},
{
    "icon": "",
    "name": "Blackberry", 
    "during": [
        "july", 
        "august", 
        "september", 
        "october"
    ]
},
{
    "icon": "",
    "name": "Blackcurrants", 
    "during": [
        "may",
        "june", 
        "july"
    ]
},
{
    "icon": "🍎",
    "name": "Bramley apple", 
    "during": [
        "january", 
        "february", 
        "march", 
        "november", 
        "december"
    ]
},
{
    "icon": "🍒",
    "name": "Cherry", 
    "during": [
        "june", 
        "july"
    ]
},
{
    "icon": "🍊",
    "name": "Clementine", 
    "during": [
        "january", 
        "february", 
        "november", 
        "december"
    ]
},
{
    "icon": "🍏",
    "name": "Crab apple", 
    "during": [
        "august"
    ]
},
{
    "icon": "",
    "name": "Cranberry", 
    "during": [
        "october", 
        "november", 
        "december"
    ]
},
{
    "icon": "",
    "name": "Damson", 
    "during": [
        "august", 
        "september"
    ]
},
{
    "icon": "",
    "name": "Date", 
    "during": [
        "january", 
        "october", 
        "november", 
        "december"
    ]
},
{
    "icon": "",
    "name": "Elderberries", 
    "during": [
        "august", 
        "september", 
        "october"
    ]
},
{
    "icon": "",
    "name": "Fig", 
    "during": [ 
        "july", 
        "august", 
        "september", 
        "october"
    ]
},
{
    "icon": "",
    "name": "Gooseberry", 
    "during": [
        "may",
        "june", 
        "july", 
        "august", 
        "september"
    ]
},
{
    "icon": "",
    "name": "Grapefruit", 
    "during": [
        "january", 
        "february", 
        "march", 
        "april", 
        "may",
        "december"
    ]
},
{
    "icon": "🍋",
    "name": "Lemon", 
    "during": [
        "january", 
        "february", 
        "march"
    ]
},
{
    "icon": "🍊",
    "name": "Nectarine", 
    "during": [
        "may",
        "june", 
        "july", 
        "august", 
        "september"
    ]
},
{
    "icon": "",
    "name": "Orange", 
    "during": [
        "january", 
        "february", 
        "march"
    ]
},
{
    "icon": "🍑",
    "name": "Peach", 
    "during": [
        "july", 
        "august", 
        "september"
    ]
},
{
    "icon": "🍐",
    "name": "Pear", 
    "during": [
        "january", 
        "september", 
        "october", 
        "november", 
        "december"
    ]
},
{
    "icon": "",
    "name": "Plum", 
    "during": [
        "august", 
        "september", 
        "october"
    ]
},
{
    "icon": "",
    "name": "Pomegranate", 
    "during": [
        "january", 
        "february", 
        "march", 
        "april", 
        "may",
        "june", 
        "july", 
        "august", 
        "september", 
        "october", 
        "november", 
        "december"
    ]
},
{
    "icon": "",
    "name": "Quince", 
    "during": [
        "september", 
        "october", 
        "november", 
        "december"
    ]
},
{
    "icon": "",
    "name": "Raspberry", 
    "during": [
        "june", 
        "july", 
        "august", 
        "september"
    ]
},
{
    "icon": "",
    "name": "Redcurrant", 
    "during": [
        "june", 
        "july", 
        "august", 
        "september"
    ]
},
{
    "icon": "",
    "name": "Rhubarb", 
    "during": [
        "january", 
        "february", 
        "march", 
        "april", 
        "may",
        "june"
    ]
},
{
    "icon": "🍓",
    "name": "Strawberry", 
    "during": [
        "june", 
        "july", 
        "august", 
        "september"
    ]
},
{
    "icon": "🍅",
    "name": "Tomato", 
    "during": [
        "may",
        "june", 
        "july", 
        "august", 
        "september", 
        "october"
    ]
}, 
{
    "icon": "🍉",
    "name": "Watermelon", 
    "during": [
        "june", 
        "july", 
        "august"
    ]
} ] %}

{% block content %}

<style type="text/css">
.seasons {
    margin:0 auto;
    max-width: 100%;
    padding:0 2rem;
}

.seasons h1 span {color:green;}
.month {display:none;}
.month.show {display:block;}

ul.months {
    margin:0 0 4rem;
    padding:0;
    list-style-type:none;
    display:grid;
    gap:2rem;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 60rem) { 
    ul.months {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

ul.months li {
    padding:2rem;
    border-radius:0.4rem;
    border:1px solid #ccc;
    background-color:#efefef;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
    font-weight:900;
    display:flex;
    align-items:center;
}
ul.months li .icon {
    font-size:3rem;
    line-height:1;
    width:3rem;
    height:3rem;
    display:inline-block;
    margin:0 1rem 0 0;
}

</style>
<div class="seasons">

    {% for thismonth in months %}
     <div class="month{% if getCurrentMonth() == thismonth %} show{% endif %}">
      <h1>What's in season in <span>{{ thismonth | capitalize }}</span></h1>
      <h2>Vegetables</h2>
    
      <ul class="months vegetables">  
      {% for vegetable in vegetables %}

      {% set vegetableDuring = vegetable.during %}
    
        {# {{ vegetables | length }} #}

        {% for month in vegetableDuring %}
            {% if month == thismonth %}    
                <li>
                <img class="icon" src="./images/icons/vegetables/{{ vegetable.name | lower |  replace(" ", "_") }}.svg" alt="{{ vegetable.name }}">
                {{ vegetable.name }}
                </li>
            {% endif %}
        {% endfor %}  
    
        {% endfor %}
      </ul>

      <h2>Fruit</h2>

      <ul class="months fruits">  
      {% for fruit in fruits %}

      {# {{ fruits | length }} #}

      {% set fruitDuring = fruit.during %}

        {% for month in fruitDuring %}
            {% if month == thismonth %}
                <li>
                <img class="icon" src="./images/icons/fruit/{{ fruit.name | lower |  replace(" ", "_") }}.svg" alt="{{ fruit.name }}">
                {{ fruit.name }}
                </li>
            {% endif %}
        {% endfor %}
    
      {% endfor %}
      </ul>
      </div>

      {% endfor %}

</div><!--.week-->

{% endblock %} 