{% set body_class = "jw-seasonal" %}

{% extends "layout/_layout.njk" %}

{% set months = [
"january", 
"february", 
"march", 
"april", 
"may",
"june", 
"july", 
"august", 
"september", 
"october", 
"november", 
"december"
] %}

{% block content %}
<div class="seasons">
    <nav class="nav-months">
    {% for month in months %}
    <span data-month="{{ month }}">{{ month | capitalize | truncate(3, true, '') }}</span>
    {% endfor %}
    </nav>

    {% for thismonth in months %}
     <div class="month" data-season="{{ thismonth }}">
      <h1>What's in season in <span>{{ thismonth | capitalize }} </span></h1>

      {% if vegetables %}
        <h2>Vegetables</h2>
        <ul class="months vegetables">  
        {# Start the count #}
        {% set vegcount = 0 %}
        {% for vegetable in vegetables %}
        {% set vegetableDuring = vegetable.during %}
            {# {{ vegetables | length }} #}
            {% for month in vegetableDuring %}
                {% if month == thismonth %}    
                    <li><img class="icon" src="images/icons/vegetables/{{ vegetable.name | lower |  replace(" ", "_") }}.svg" alt="{{ vegetable.name }}">{{ vegetable.name }} </li>
                {# Set the count #}
                {% set vegcount = vegcount + 1 %}
                {% endif %}
            {% endfor %}      
            {% endfor %}
        </ul>
        {% if vegcount === 0 %}
            <p>Sorry, nothing in season</p>
        {% endif %}
      {% endif %}
      
    
      {% if fruits %}
      <h2>Fruit</h2>
        <ul class="months fruits">  
        {# Start the count #}
        {% set fruitcount = 0 %}
        {% for fruit in fruits %}
        {% set fruitDuring = fruit.during %}
            {% for month in fruitDuring %}
                {% if month == thismonth %}
                    <li><img class="icon" src="images/icons/fruit/{{ fruit.name | lower |  replace(" ", "_") }}.svg" alt="{{ fruit.name }}"> {{ fruit.name }}</li>
                {# Set the count #}
                {% set fruitcount = fruitcount + 1 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
        {% if fruitcount === 0 %}
            <p>Sorry, nothing in season</p>
        {% endif %}
      {% endif %}

      {% if herbs %}  
      <h2>Herbs</h2>
        <ul class="months herbs"> 
        {# Start the count #}
        {% set herbcount = 0 %}
        {% for herb in herbs %} 
            {% set herbDuring = herb.during %}
            {% for month in herbDuring %}
                {% if month == thismonth %}
                    <li><img class="icon" src="images/icons/herbs/{{ herb.name | lower |  replace(" ", "_") }}.svg" alt="{{ herb.name }}">{{ herb.name }}</li>
                {# Set the count #}
                {% set herbcount = herbcount + 1 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
        {% if herbcount == 0 %}
           <p>Sorry, nothing in season</p>
        {% endif %}
      {% endif %}
      </div>
      {% endfor %}
</div><!--.week-->

{% endblock %} 