<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ "/" | url }}assets/images/meta/favicon-192x192.png" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ "/" | url }}assets/images/meta/favicon-192x192.png">
<meta name="apple-mobile-web-app-title" content="{{ title or metadata.title }}" />
<meta name="theme-color" content="#146652">
<meta name="description" content="{{ description or metadata.description }}">
<meta property="og:url" content="https://seasonal.today{{ page.url }}" />
<meta property="og:site_name" content="seasonal.today" />
<meta property="og:locale" content="en_GB" />
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:description" content="What's in Season">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image" content="https://seasonal.today/assets/images/meta/og-image.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title or metadata.title }}">
<meta name="twitter:description" content="What's in Season">
<meta name="twitter:image" content="https://seasonal.today/assets/images/meta/og-image.png">
<meta property="twitter:url" content="https://seasonal.today{{ page.url }}" />