<footer class="dgwltd-footer">
    <div class="container">
        <p>© {% year %} A <a href="https://dogwonder.co.uk">dogwonder</a> production | <a href="{{ "/about" | url }}">About this project</a></p>
    </div>
</footer>